<link rel="stylesheet" href="/css/index.css" type="text/css">
<body>
<div class="wrapper">
    <header>
        <div class="container">
            <h1 class="title">Поцелуй, женись или убей</h1>
        </div>
    </header>
    <main>
        <div class="container">
            <ul class="menu">
                <li class="menu__item"><a href="/game" class="menu__link">Играть</a></li>
                <li class="menu__item"><a href="/settings" class="menu__link">Настройки</a></li>
            </ul>
        </div>
    </main>
</div>
<img class="bg-img" src="/img/sakura.png">
</body>